target
.classpath
.project
.settings
bin
build.log
integration-repo
ivy-cache
spring-build
derby-home
derbydb
derby.log
com.springsource.sts.config.flow.prefs
s3.properties
.idea
*.iml
*.ipr
*.iws
.*.swp
.DS_Store
.springBeans
build
.gradle
out
*~

/.gradletasknamecache
**/*.flattened-pom.xml

vscode
settings.json

node
node_modules
package-lock.json
package.json
.vscode
.antlr

shell.log

.profiler
/spring-ai-spring-boot-autoconfigure/nbproject/
/vector-stores/spring-ai-cassandra-store/nbproject/

**/.claude/settings.local.json
.devcontainer
