<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
<!--        <server>-->
<!--            <id>spring-snapshots</id>-->
<!--            <username>${env.ARTIFACTORY_USERNAME}</username>-->
<!--            <password>${env.ARTIFACTORY_PASSWORD}</password>-->
<!--        </server>-->
<!--        <server>-->
<!--            <id>spring-staging</id>-->
<!--            <username>${env.ARTIFACTORY_USERNAME}</username>-->
<!--            <password>${env.ARTIFACTORY_PASSWORD}</password>-->
<!--        </server>-->
<!--        <server>-->
<!--            <id>spring-milestones</id>-->
<!--            <username>${env.ARTIFACTORY_USERNAME}</username>-->
<!--            <password>${env.ARTIFACTORY_PASSWORD}</password>-->
<!--        </server>-->
    </servers>

</settings>
