<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <servers>
        <server>
            <username>${ARTIFACTORY_USERNAME}</username>
            <password>${ARTIFACTORY_TOKEN}</password>
            <id>internal-maven</id>
        </server>
        <server>
            <username>${ARTIFACTORY_USERNAME}</username>
            <password>${ARTIFACTORY_TOKEN}</password>
            <id>gradle-renault-local</id>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>internal-maven</id>
            <name>internal-maven</name>
            <url>https://artifactory.dt.renault.com/artifactory/maven</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <id>gradle-renault-local</id>
                    <name>gradle-renault-local</name>
                    <url>https://artifactory.dt.renault.com/artifactory/gradle-renault-local</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>internal-maven</id>
                    <name>internal-maven</name>
                    <url>https://artifactory.dt.renault.com/artifactory/maven</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
