name: PR Check

on:
  pull_request:

jobs:
  build:
    name: Build branch
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'spring-projects' }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Setup Maven Build-Cache (~/.m2/build-cache)
        uses: actions/cache@v4
        with:
          path: ~/.m2/build-cache
          # See https://github.com/actions/cache/blob/main/tips-and-workarounds.md#update-a-cache
          # We need to incrementally save the contents of the build-cache directory, even if there was a hit prior to the build
          # Cached restored from restore-keys are restored using the latest one first, so this is a good compromise
          key: build-cache-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}-${{ github.run_id }}
          restore-keys: |
            build-cache-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}-
            build-cache-${{ runner.os }}-

      - name: Run tests
        run: |
          # Ensure jlama artifact is present in the local reactor cache before the full test run.
          ./mvnw -ntp -B -U -pl models/spring-ai-jlama -am -DskipTests install
          ./mvnw -ntp -B -U clean test
